.close {
  position: fixed;
  cursor: pointer;
  display: block;
  margin: 4px 13px;
  text-align: center;
  height: 24px;
  width: 20px;
  right: 0;
  top: 0;
  font-weight: 300;
  padding: 4px 5px;
  background-color: rgb(240, 252, 252);
  border-radius: 50%;
}
.close:hover {
  background-color: rgb(234, 245, 255);
}

.intro h4 {
  font-size: medium;
  color: rebeccapurple;
}

.intro p {
  font-size: small;
  font-weight: 400;
}

@media (max-width: 656px) {
  .intro h4 {
    font-size: smaller;
  }
}
